<%- include("includes/header.ejs") %>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum odit ullam eligendi modi aut consequuntur nesciunt rem suscipit est consectetur praesentium natus incidunt perspiciatis, veritatis iusto asperiores voluptate accusantium omnis?</p>
</body>
</html>