<%- include("includes/header.ejs") %>
<div id="main">
    <input type="text" name="title" placeholder="<%= editCard.title %>"><br><br>
<textarea name="description" cols="30" rows="10"><%= editCard.description %></textarea>
</div>

</body>
</html>